$include /etc/inputrc

# _____                      _____              
# ___(_)__________________  ___  /______________
# __  /__  __ \__  __ \  / / /  __/_  ___/  ___/
# _  / _  / / /_  /_/ / /_/ // /_ _  /   / /__  
# /_/  /_/ /_/_  .___/\__,_/ \__/ /_/    \___/  
#             /_/                               
#
# My .inputrc file for bash. This file basically sets configuration options for readline, which is a bash library allowing you to manipulate the text you input either to make typing easier for you, if you made a typo, etc.            

"\e[A": history-search-backward
"\e[B": history-search-forward

# Standard tab completion options
set colored-stats on  
set colored-completion-prefix on
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-display-width 0
set completion-query-items 1000
