# ________________                             _____________
# ___  /__(_)__  /________________      __________  /__  __/
# __  /__  /__  __ \_  ___/  _ \_ | /| / /  __ \_  /__  /_  
# _  / _  / _  /_/ /  /   /  __/_ |/ |/ // /_/ /  / _  __/  
# /_/  /_/  /_.___//_/    \___/____/|__/ \____//_/  /_/     
#  
# LibreWolf configuration options so that you don't have to set them in about:config or in your preferences.

# Update add-ons automatically
defaultPref("extensions.update.autoUpdateDefault", true);
defaultPref("extensions.update.enabled", true);

# Enable Firefox Sync
defaultPref("identity.fxaccounts.enabled", true);

# Disable middle click paste
defaultPref("clipboard.autocopy", false);
defaultPref("middlemouse.paste", false);

# Allow userChrome.css customization
defaultPref("toolkit.legacyUserProfileCustomizations.stylesheets", true);
defaultPref("svg.context-properties.content.enabled", true);
defaultPref("layout.css.has-selector.enabled", true);

# Enabling IPv6
defaultPref("network.dns.disableIPV6", false);

# Disabling ResistFingerprinting
defaultPref("privacy.resistFingerprinting", false);

# Disabling letterboxing
defaultPref("privacy.resistFingerprinting.letterboxing", false);

# Enable silently blocking canvas access requests
defaultPref("privacy.resistFingerprinting.autoDeclineNoUserInputCanvasPrompts", true);

# Disable WebGL
defaultPref("webgl.disabled", true);

# Enable enforcing OCSP
defaultPref("security.OCSP.require");

# Preserve browsing and download history
defaultPref("privacy.clearOnShutdown.history", false);
defaultPref("privacy.clearOnShutdown.downloads", false);

# Have new tabs open after the current tab instead at the end of all your tabs
defaultPref("browser.tabsinsertAfterCurrent", true);
defaultPref("browser.tabsinsertRelatedAfterCurrent", true);

# Enable compact mode
defaultPref("browser.compactmode.show", true);
